<div class="modal fade" id="staticBackdropBoxInfo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropBoxInfoLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropBoxInfoLabel">Box Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="p-modal">C - At/en-route from COMC</p>
            <p class="p-modal">E - At/en-route from eBay</p>
            <p class="p-modal">S - At/en-route from Sportlots</p>
            <p class="p-modal">T1 - Trade</p>
            <hr class="mt-2 mb-3">
            <p class="p-modal">G1 - Graded cards, 2000s - prior</p>
            <p class="p-modal">G2 - Graded cards, 2010s - now</p>
            <hr class="mt-2 mb-3">
            <p class="p-modal">H1 - 2001 Topps Heritage Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H2 - 2001 Topps Heritage Chrome, 2010 Topps Heritage Black Refractors</p>
            <p class="p-modal">H3 - 2002 Topps Heritage</p>
            <p class="p-modal">H4 - 2003 Topps Heritage</p>
            <p class="p-modal">H5 - 2004 Topps Heritage Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H6 - 2004 Topps Heritage Chrome, Refractors, Black Refractors</p>
            <p class="p-modal">H7 - 2005 Topps Heritage Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H8 - 2005 Topps Heritage Chrome, Refractors, Black Refractors</p>
            <p class="p-modal">H9 - 2006 Topps Heritage Base, Inserts, Autos, Relics, Chrome</p>
            <p class="p-modal">H10 - 2006 Topps Heritage Refractors, Black Refractors</p>
            <p class="p-modal">H11 - 2007 Topps Heritage Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H12 - 2007 Topps Heritage Chrome, Refractors, Black Refractors</p>
            <p class="p-modal">H13 - 2008 Topps Heritage + High Number Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H14 - 2008 Topps Heritage Chrome</p>
            <p class="p-modal">H15 - 2008 Topps Heritage Black Refractors, 2011 Topps Heritage Black Refractors</p>
            <p class="p-modal">H16 - 2009 Topps Heritage + High Number Base, Inserts, Autos, Relics, Black Refractors</p>
            <p class="p-modal">H17 - 2009 Topps Heritage Chrome, Refractors</p>
            <p class="p-modal">H18 - 2008 Topps Heritage Chrome</p>
            <p class="p-modal">H19 - 2010 Topps Heritage Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H20 - 2010 Topps Heritage Chrome, Refractors</p>
            <p class="p-modal">H21 - 2011 Topps Heritage Base, Inserts, Autos, Black Border</p>
            <p class="p-modal">H22 - 2011 Topps Heritage Blue, Green, Red Tints</p>
            <p class="p-modal">H23 - 2011 Topps Heritage Refractors, Relics</p>
            <p class="p-modal">H24 - 2011 Topps Heritage Chrome, Green Refractors</p>
            <p class="p-modal">H25 - 2012 Topps Heritage Base, Inserts, Autos, Relics</p>
            <p class="p-modal">H26 - 2012 Topps Heritage Chrome, Refractors, Black Refractors, 63 Mint, JFK</p>
            <p class="p-modal">H27 - 2024 Topps Heritage Mini</p>
            <hr class="mt-2 mb-3">
            <p class="p-modal">U1 - 2000 Upper Deck Yankees Legends, 2001 Upper Deck Pinstripe Exclusives</p>
            <p class="p-modal">U2 - 2001 Upper Deck Vintage</p>
            <p class="p-modal">U3 - 2001 Upper Deck Legends of New York Base, Inserts, Bat, Bat Auto</p>
            <p class="p-modal">U4 - 2001 Upper Deck Legends of New York Jersey, Jersey Gold</p>
            <p class="p-modal">U5 - 2001 Upper Deck Legends of New York Combo Autos, Game Base, Stadium Seat</p>
            <hr class="mt-2 mb-3">
            <p class="p-modal">A1 - 2010 Topps Allen and Ginter Base, Inserts</p>
            <p class="p-modal">A2 - 2010 Topps Allen and Ginter Mini Regular Back</p>
            <p class="p-modal">A3 - 2010 Topps Allen and Ginter Mini Ginter Back</p>
            <p class="p-modal">A4 - 2010 Topps Allen and Ginter Mini Black Border</p>
            <p class="p-modal">A5 - 2010 Topps Allen and Ginter Mini Bazooka Back, NNO, EXT, Rip</p>
          </div>
      </div>
    </div>
</div>